body {
    font-family: sans-serif;
    /*font-weight: lighter;*/
}

h1 {
    font-size:  400%;
    font-family: 'kingjola';
    text-align: center;
    font-weight: lighter;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}
#choices.container {
    margin-bottom:  20%;
}

p, a {
    color: black;
    line-height: 1.7em;
    font-size: 13pt;
}

p {
    opacity: 0.0;
    transition: opacity 0.1s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    font-weight: bold;
    font-size:  200%;
    line-height: 1.0em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.choice a {
    /*text-decoration: none;*/
}

a:hover {
    color: black;
}

@font-face {
  font-family: 'kingjola';
  src: url('../fonts/kingjola.ttf')  format('truetype'); /* Legacy iOS */
}
